* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'Jura', 'Manrope';
  background: #F9F8F4;
}
h1 {
  font-size: 126rem;
  line-height: normal;
  color: #1D2025;
}
h2 {
  font-size: 72rem;
  line-height: normal;
  color: #1D2025;
}
h3 {
  font-size: 42rem;
  line-height: normal;
  color: #1D2025;
  width: 800rem;
}
h4 {
  font-size: 40rem;
  line-height: normal;
  color: #1D2025;
  width: 440rem;
}
p{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #1D2025;
  font-weight: 400;
}
a{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
}

.h3_header, .h3_about{
  font-size: 54rem;
}

.nav_a{
  color: #1D2025;
  transition: all ease 0.4s;
}
.nav_a:hover {
  color: #364C7E;
  transition: all ease 0.6s;
}

#index, #plug{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Section_Header{
  display: flex;
    padding: 128rem 72rem 20rem 72rem;
    width: 100vw;
    gap: 40rem;
    flex-direction: column;
}

.Section_About{
  display: flex;
  padding: 128rem 72rem 84rem 72rem;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Section_Nav{
  display: flex;
  padding: 54rem 72rem 54rem 72rem;
  width: 100vw;
}

.d_nav{
  display: inline-flex;
  width: 630rem;
  height: 375rem;
  padding: 159rem 85rem 30rem 30rem;
  align-items: center;
  border-radius: 38rem;
  background: #DFEED7;
}

.div_navig{
  display: flex;
  width: 741rem;
  height: 375rem;
  flex-wrap: wrap;
}

.div_nav{
  display: flex;
  width: 50%;
  width: 50%;
  padding: 30rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 38rem;
  background: #CBCBE7;
  justify-content: space-between;
}

.h3_about{
  text-align: center;
  width: 710rem;
}

.p_nav{
  font-size: 24rem;
  line-height: normal;
  font-weight: 500;
}

.a_nav{
  width: 45rem;
  height: 45rem;
  background-image: url(../images/arrow.svg);
  background-size: cover;
  transition: all ease 0.1s;
}
.a_nav:hover {
  background-image: url(../images/arrow_hover.svg);
  background-size: cover;
  transition: all ease 0.3s;
}

#indexP{
  display: flex;
  padding-top: 192rem;
  justify-content: center;
  align-items: center;
}

#indexP p {
  width: 435rem;
  color: #283C74;
}

#indexForm, #plugForm{
  display: flex;
  width: 858rem;
  padding: 23rem 30rem 30rem 30rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ABCBDE;
  border-radius: 38rem 38rem 0 0;
}

#plugForm {
    padding: 0 69rem;
    margin-bottom: 25rem;
}

.Section_Footer{
  display: flex;
  padding: 54rem 72rem 0 72rem;
  width: 100vw;
}

#indexForm p{
  width: 450rem;
  margin-top: 10rem;
}

#my-form{
  display: flex;
  width: 645rem;
  padding: 7.5rem;
  align-items: center;
  gap: 7.5rem;
  border-radius: 50rem;
  margin-top: 22.5rem;
  background: #EAE9E6;
  justify-content: space-between;
}

h4#my-form-status{
  margin: 12rem 0 0 24rem;
  color: #41599D;
}
#index form input, #plug form input {
  display: flex;
  padding: 7.5rem 15rem;
  align-items: center;
  flex: 1 0 0;
  border-radius: 50rem;
  background:#D1DCEE;
  font-family: 'Manrope';
  font-weight: 400;
  align-self: stretch;
  font-size: 18rem;
  line-height: 24rem;
  color: #6A7FA4;
  border: 2rem solid transparent;
  transition: border ease 0.4s;
}
#index form input:focus, #plug form input:focus {
  border: 2rem solid #859DC6;
  transition: border ease 0.8s;
}

.A_HeaderLink {
  text-decoration: none;
  display: flex;
  height: 45rem;
  padding: 13rem 18rem;
  justify-content: flex-end;
  align-items: center;
  gap: 12rem;
  border-radius: 23rem;
  background-color: #1D2025;
  color: #F9F8F4;
  transition: all ease 0.4s;
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
}
.A_HeaderLink:hover {
  background-color: #364C7E;
  transition: all ease 0.6s;
}

#index form button:hover, #plug form button:hover {
  background-color: #41599D;
  border: 0rem solid #41599D;
  transition: all ease 0.8s;
}

#indexHeader, #indexHeaderMob{
  display: flex;
  background-color: #ABCBDE;
  width: 90vw;
  padding: 15rem 30rem;
  margin-top: 18rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-radius: 15rem;
  height: 68rem;
  z-index: 2;
}

#indexHeaderMob{
  display: none;
}

#indexMedia, #plugMedia{
  display: flex;
  align-items: center;
  gap: 12rem;
}

#indexN{
  display: flex;
  align-items: center;
  gap: 39rem;
}

.div_footer{
  display: flex;
  flex-direction: column;
}

.social{
  display: flex;
  width: 440rem;
  padding: 23rem 30rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 39rem;
  background: #ABCBDE;
}

.social_h4{
  font-size: 22rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  width: 300rem;
}

.social_row{
  display: flex;
  width: 440rem;
  padding: 40rem 30rem;
  flex-direction: row;
  align-items: center;
  height: -webkit-fill-available;
  gap: 14px;
  border-radius: 39rem;
  background: #ABCBDE;
  
}

.soc{
  display: flex;
  align-items: center;
  gap: 10px;
}

#plugMedia{
  position: absolute;
  right: 69rem;
  bottom: 62rem;
}

#indexMedia .media, .media{
  width: 34rem;
  height: 34rem;
  backdrop-filter: blur(4px);
  border-radius: 50rem;
  cursor: pointer;
}

#plugMedia .media{
  width: 54rem;
  height: 54rem;
  opacity: 0.8;
}

#indexHeader .logo, #indexHeaderMob .logo{
  width: 113rem;
}

#indexNav{
  display: flex;
  padding: 6.75rem 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background: rgba(249, 219, 179, 0.60);
  backdrop-filter: blur(4px);
}

#indexCards{
  height: 474rem;
}

#card{
  display: flex;
  position: absolute;
  width: 225rem;
  padding: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.5rem;
  border-radius: 22.5rem;
  background: #F9F5E9;
  box-shadow: 6px 4px 6.9px 0 rgba(59, 94, 126, 0.25);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.M_Header {
  display: flex;
  margin: 140rem 72rem 54rem 72rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 482px;
  align-self: stretch;
  background-image: url(/src/images/st.svg);
  background-size: 100% 100%;
}

#plugForm p{
  width: 500rem;
  color: #41599D;
}

#plugForm #my-form{
  width: 555rem;
}

.icon path:first-of-type {
  fill: #363636;
  width: 48rem;
  height: 48rem;
  transition: fill ease 0.5s;
}
.icon:nth-of-type(1) svg:hover path:first-of-type {
  fill: #0077ff;
  transition: fill ease 0.8s;
}
.icon:nth-of-type(2) svg:hover path:first-of-type {
  fill: #2aabee;
  transition: fill ease 0.8s;
}
.icon:nth-of-type(3) svg:hover path:first-of-type {
  fill: #ff0302;
  transition: fill ease 0.8s;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 10rem;
  gap: 20rem;
}
.text {
  color: blue;
}