/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Jura';
  src: url(fonts/22cce0d53b6b97da49fe.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/416b7dd6613bd085809e.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8ff9467ebe1ff26e4261.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/c3189b18688e4f3e0d86.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/7466db90c04f3efe29bf.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/3d92b64331e124bd334e.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8e69558513c71d8098f1.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/6b8aa569524907093d27.ttf);
  font-weight: 200;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Jura';
  src: url(fonts/22cce0d53b6b97da49fe.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/416b7dd6613bd085809e.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8ff9467ebe1ff26e4261.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/c3189b18688e4f3e0d86.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/7466db90c04f3efe29bf.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/3d92b64331e124bd334e.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8e69558513c71d8098f1.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/6b8aa569524907093d27.ttf);
  font-weight: 200;
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  font-family: 'Jura', 'Manrope';
  background: #F9F8F4;
  margin: 0;
}
h1 {
  font-size: 96rem;
  line-height: 113rem;
  color: #1D2025;
}
h2 {
  font-size: 72rem;
  line-height: normal;
  color: #1D2025;
}
h3 {
  font-size: 42rem;
  line-height: normal;
  color: #1D2025;
  width: 800rem;
}
h4 {
  font-size: 40rem;
  line-height: normal;
  color: #1D2025;
  width: 440rem;
}
p{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #1D2025;
  font-weight: 400;
}
a{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
}

.S_Test {
    padding: 140rem 69rem 54rem 69rem;
    width: 100%;
}

.O_Test, .O_ResultTest {
  height: 390rem;
  background-image: url(images/68884f3087bbe406354b.svg);
  background-size: cover;
  border-radius: 40rem;
  display: flex;
  gap: 40rem;
}

.C_FooterImput{
  display: flex;
  width: 858rem;
  padding: 30rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 16rem;
  border-radius: 39rem 39rem 39rem 0;
  background: #ABCBDE;
}

.O_ResultTest{
  background-image: url(images/237a91ce506a7da9206f.svg);
  justify-content: flex-end;
}

.W_TestTextSection, .W_ResultTest {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 74rem;
  color: #1D2025;
  font-size: 24rem;
  padding: 30rem;
  justify-content: space-between;
}

.A_FinalCount, .A_NumberOfQuestion {
    color: #82B468;
}

.A_TestQuestion, .A_ResultHeader {
    font-size: 54rem;
    width: 1050rem;
}

.W_ResultTest{
  gap: 24rem;
  width: 770rem;
  justify-content: flex-start;
}

.A_ResultHeader, .A_ResultText{
  width: 600rem;
}

.W_Test{
  display: flex;
  flex-direction: column;
  gap: 24rem;
}

.A_TestAnswerText{
  font-family: 'Manrope';
  font-size: 20rem;
  width: 330rem;
  line-height: 27rem;
}

.C_TestAnswerMessages {
    display: flex;
    flex-direction: row;
    gap: 60rem;
}

.M_TestAnswerMessage {
  display: flex;
    align-items: flex-start;
    gap: 7rem;
    position: relative;
    height: 81rem;
}

.C_IndexSectionCardTagsArtic span {
  cursor: pointer;
  transition: all ease 0.3s;
}

.h3_header, .h3_about{
  font-size: 54rem;
}

.nav_a{
  color: #1D2025;
  transition: all ease 0.4s;
}
.nav_a:hover {
  color: #364C7E;
  transition: all ease 0.6s;
}

#index, #plug{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Section_Header{
  display: flex;
  padding: 128rem 69rem 54rem 69rem;
  width: 100vw;
  gap: 36rem;
  flex-direction: column;
}

.Section_About{
  display: flex;
  padding: 72em 69rem;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Section_Nav, .Section_Article, .Section_Thought, .Section_Test, .Section_ArticleInfo{
  display: flex;
  padding: 54rem 69rem 54rem 69rem;
  width: 100vw;
}

.Section_Thought, .Section_ArticleInfo{
  padding: 128rem 69rem 54rem 69rem;
}

.Section_Thought{
  flex-direction: column;
  gap: 24rem;
}

.Section_ArticleInfo{
  flex-direction: column;
  align-items: flex-end;
  gap: 24rem;
}

.art_fon1{
  width: 555rem;
}

.Section_Article, .Section_Test{
    flex-direction: column;
    gap: 40rem;
}

.thought_fon, .thought_main{
  background-image: url(images/6936fd2f80cc102f0559.svg);
  display: flex;
  background-size: 100% 100%;
  height: 488rem;
  padding: 37rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.thought_main{
  background-image: url(images/774171f403e550c326aa.svg);
  height: 502rem;
  justify-content: flex-end;
}

.d_nav{
  display: inline-flex;
  width: 630rem;
  height: 375rem;
  padding: 159rem 85rem 30rem 30rem;
  align-items: center;
  border-radius: 38rem;
  background: #F4F2EC;
}

.div_navig{
  display: flex;
  width: 741rem;
  height: 375rem;
  flex-wrap: wrap;
}

.div_nav1, .div_nav2, .div_nav3, .div_nav4{
  display: flex;
  width: 50%;
  width: 50%;
  padding: 30rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 38rem;
  background: #CBCBE7;
  justify-content: space-between;
}

.div_nav2{
  background: #FCE1A8;
}

.div_nav3{
  background: #DFEED7;
}

.div_nav4{
  background: #FAD5DB;
}

.h3_about{
  text-align: center;
  width: 710rem;
}

.p_nav, .p_error{
  font-size: 24rem;
  line-height: normal;
  font-weight: 500;
}

.p_error{
  width: 472rem;
  text-align: center;
}

.a_nav{
  width: 45rem;
  height: 45rem;
  background-image: url(images/73c81eb77ec624937cd5.svg);
  background-size: cover;
  transition: all ease 0.1s;
}
.a_nav:hover {
  background-image: url(images/33702aabde93f695a89b.svg);
  background-size: cover;
  transition: all ease 0.3s;
}

#indexP{
  display: flex;
  padding-top: 192rem;
  justify-content: center;
  align-items: center;
}

#indexP p {
  width: 435rem;
  color: #283C74;
}

#indexForm, #plugForm{
  display: flex;
  width: 858rem;
  padding: 30rem 30rem 40.5rem 30rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ABCBDE;
  border-radius: 38rem 38rem 38rem 0;
}

#plugForm {
    padding: 0 69rem;
    margin-bottom: 25rem;
}

.Section_Footer{
  display: flex;
  padding: 54rem 69rem 0 69rem;
  width: 100vw;
}

#indexForm p{
  width: 450rem;
  margin-top: 10rem;
}

#my-form{
  display: flex;
  width: 525rem;
  align-items: center;
  margin-top: 24rem;
  border-radius: 50rem;
  justify-content: space-between;
}

h4#my-form-status{
  margin: 12rem 0 0 24rem;
  color: #41599D;
}
#index form input, #plug form input {
  display: flex;
  padding: 7.5rem 15rem;
  align-items: center;
  flex: 1 0 0;
  border-radius: 50rem;
  background:#FFFDF0;
  font-family: 'Manrope';
  font-weight: 400;
  align-self: stretch;
  font-size: 18rem;
  line-height: 24rem;
  color: #364C7E;
  border: 2rem solid transparent;
  transition: border ease 0.4s;
}
#index form input:focus, #plug form input:focus {
  border: 2rem solid #859DC6;
  transition: border ease 0.8s;
}

.A_HeaderLink, .A_ThoughtLink, .A_ArticleLink, .A_TestLink, .A_ErrorLink_404, .A_ErrorLink_500, .A_ErrorLink_503 {
  text-decoration: none;
  display: flex;
  height: 45rem;
  padding: 13rem 18rem;
  justify-content: flex-end;
  align-items: center;
  gap: 12rem;
  border-radius: 23rem;
  background-color: #1D2025;
  color: #F9F8F4;
  border: 0rem solid #41599D;
  transition: all ease 0.4s;
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
  cursor: pointer;
}

.A_HeaderLink:hover {
  background-color: #364C7E;
  transition: all ease 0.6s;
}

.A_ErrorLink_404:hover, .A_ThoughtLink:hover {
  background-color: #F16F33;
  transition: all ease 0.6s;
}

.A_ThoughtLink{
  justify-content: center;
  width: 147rem;
}

.A_ArticleLink:hover, .A_ErrorLink_503:hover {
  background-color: #5C5C88;
  transition: all ease 0.6s;
}

.A_TestLink:hover, .A_ErrorLink_500:hover {
  background-color: #82B468;
  transition: all ease 0.6s;
}

.O_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#index form button:hover, #plug form button:hover {
  background-color: #41599D;
  border: 0rem solid #41599D;
  transition: all ease 0.8s;
}

#indexHeader, #indexHeaderMob{
  display: flex;
  background-color: #ABCBDE;
  width: 90.416vw;
  padding: 15rem 30rem;
  margin: 18rem 69rem 0 69rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-radius: 15rem;
  height: 68rem;
  z-index: 5;
}

#indexHeaderMob{
  display: none;
}

#indexMedia, #plugMedia{
  display: flex;
  align-items: center;
  gap: 12rem;
}

#indexN{
  display: flex;
  align-items: center;
  gap: 39rem;
}

.div_footer{
  display: flex;
  flex-direction: column;
}

.social{
  display: flex;
  width: 444rem;
  padding: 30rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 16rem;
  border-radius: 39rem 39rem 0 39rem;
  background: #ABCBDE;
}

.footer_logo{
  height: 37rem;
}

.social_h4{
  font-size: 30rem;
  font-style: normal;
  font-weight: 700;
  line-height: 36rem;
  width: 300rem;
}

.socimg{
  height: 39rem;
  width: 39rem;
  cursor: pointer
}

.social_row{
  display: flex;
  width: 440rem;
  padding: 40rem 30rem;
  flex-direction: row;
  align-items: center;
  height: -webkit-fill-available;
  gap: 14px;
  border-radius: 39rem;
  background: #ABCBDE;
  
}

.soc{
  display: flex;
  align-items: center;
  gap: 12rem;
}

#plugMedia{
  position: absolute;
  right: 69rem;
  bottom: 62rem;
}

#indexMedia .media, .media{
  width: 34rem;
  height: 34rem;
  backdrop-filter: blur(4px);
  border-radius: 50rem;
  cursor: pointer;
}

#plugMedia .media{
  width: 54rem;
  height: 54rem;
  opacity: 0.8;
}

#indexHeader .logo, #indexHeaderMob .logo{
  width: 113rem;
}

#indexNav{
  display: flex;
  padding: 6.75rem 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background: rgba(249, 219, 179, 0.60);
  backdrop-filter: blur(4px);
}

#indexCards{
  height: 474rem;
}

#card{
  display: flex;
  position: absolute;
  width: 225rem;
  padding: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.5rem;
  border-radius: 22.5rem;
  background: #F9F5E9;
  box-shadow: 6px 4px 6.9px 0 rgba(59, 94, 126, 0.25);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.M_Header, .M_HeaderTest, .M_HeaderRituals, .M_Header_Error404, .M_Header_Error500, .M_Header_Error503{
  display: flex;
  margin: 126rem 69rem 0 69rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  height: 450rem;
  align-self: stretch;
  background-image: url(images/83d9c97d6f5bfbff688d.svg);
  background-size: 100% 100%;
  width: 90.416vw;
}

.M_HeaderTest{
  background-image: url(images/7268430fd68efbd24e6d.svg);
}

.M_HeaderRituals{
  background-image: url(images/3309f718ee34b257b0c8.svg);
}

.M_Header_Error404{
  background-image: url(images/e30bbe29183451b00c13.svg);
  height: 502rem;
  gap: 24rem;
}

.M_Header_Error500{
  background-image: url(images/ced39d69f1bc6830187a.svg);
  height: 502rem;
  gap: 24rem;
}

.M_Header_Error503{
  background-image: url(images/5c1800ddf04df4393585.svg);
  height: 502rem;
  gap: 24rem;
}

.A_MainHeader_Error{
  font-size: 224rem;
  line-height: 165rem;
}

#plugForm p{
  width: 500rem;
  color: #41599D;
}

#plugForm #my-form{
  width: 555rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10rem;
  gap: 20rem;
}

.S_IndexSection{
  display: flex;
}

.test_fon1{
  width: 525rem;
}

.C_IndexSectionCards{
  display: flex;
  gap: 24rem;
  flex-direction: column;
  width: 600rem;
}

.M_TestAnswerMessage input{
  width: 19rem;
  height: 19rem;
  margin-top: 5rem;
  border-radius: 50%;
}

.C_IndexSectionCard{
  display: flex;
  gap: 18rem;
  flex-direction: column;
}

.A_IndexSectionCard {
  color: #1D2025;
  line-height: 18rem;
  font-size: 12rem;
}

.h3_test_cards{
  width: 600rem;
}

.O_Articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30rem;
}

.C_IndexSectionCardDiv{
  width: 414rem;
}

.C_IndexSectionCardImg{
  background-size: 100% 100%;
  height: 225rem;
}

.O_IndexSectionCard {
  width: 414rem;
  background-color: #EAE9E6;
  border-radius: 37rem;
  padding: 30rem;
  display: flex;
  flex-direction: column;
  gap: 14rem;
}

.A_IndexH3{
  width: 354rem;
  font-weight: 600;
  font-size: 27rem;
  line-height: 35rem;
  color: #1D2025;
}

.A_IndexH4_rit{
  font-size: 30rem;
  line-height: 36rem;
  font-family: 'Jura';
  width: 243rem;
}

.A_p_rit{
  width: 243rem;
}

.C_IndexSectionCardTags, .C_IndexSectionCardTagsTest, .C_IndexSectionCardTagsRitual, .C_IndexSectionCardTagsArtic {
  padding: 22rem;
  display: flex;
  gap: 10rem;
  flex-direction: row;
}

.C_IndexSectionCardTagsRitual{
  flex-direction: column;
}

.C_IndexSectionCardTagsTest, .C_IndexSectionCardTagsArtic, .C_IndexSectionCardTagsRitual{
  padding: 0;
}

.O_IndexSectionCardTest, .O_IndexSectionCardArt, .O_IndexSectionCardArtInf{
  display: flex;
  padding: 30rem;
  gap: 40rem;
  background-color: #DFEED7;
  flex-direction: column;
  border-radius: 38rem;
  width: stretch;
}

.C_IndexSectionCardDiv {
  display: block;
  cursor: pointer;
  transition: all ease 0.3s;
}

.C_IndexSectionCardDiv:hover {
  transform: translateY(-6rem);
}

.InfArt{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.O_IndexSectionCardArt{
  background-color: #CBCBE7;
  width: 747rem;
  gap: 37rem;
}

.O_IndexSectionCardArtInf, .O_IndexSectionCardArtInf_color{
  background-color: #F4F2EC;
  width: 747rem;
  gap: 36rem;
  border-radius: 38rem;
  padding: 30rem
}

.h3_test_cardsArt{
  width: 680rem;
}

.h4_test_cardsArt{
  font-size: 30rem;
  line-height: 36rem;
  width: 680rem;
}

.A_IndexSectionCardTag, .A_IndexSectionCardTagTest, .A_IndexSectionCardTagArtic, .A_IndexSectionCardTagArt{
  font-size: 12rem;
  font-family: 'Manrope';
  line-height: 18rem;
  display: flex;
  padding: 8rem 15rem;
  align-items: center;
  border-radius: 11rem;
  background: #CBCBE7;
  width: fit-content;
}

.A_IndexSectionCardTagTest{
  background: #82B468;
}

.A_IndexSectionCardTagArtic{
  background: #F4F2EC;
}

.A_IndexSectionCardTagArt{
  background: #5C5C88;
  color: #F4F2EC;
}


.C_ArticleContentList {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 0;
}

.A_ArticleContentLink {
  font-family: 'Manrope';
  font-size: 22rem;
  line-height: 28rem;
  font-weight: 500;
  color: #CBCBE7;
  transition: color ease 0.3s;
}

.A_ArticleContentLink.active {
  color: #5C5C88;
}

.O_IndexSectionCardArtInf_color {
  background: #CBCBE7;
}

.W_ArticleImportantHeader {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.A_ArticleImportantIcon {
  width: 32rem;
  height: 32rem;
}

.A_ArticleImportantTitle {
  font-family: 'Manrope';
  font-size: 22rem;
  line-height: 28rem;
  font-weight: 600;
  color: #5C5C88;
  width: auto;
}

.time{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.C_ArticleContentList {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-left: 22rem;
}

.C_ArticleContentList li {
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: 24rem;
  color: #1D2025;
  font-weight: 400;
}

.clock{
  height: 24rem;
}

.d_clock{
  display: flex;
  gap: 7rem;
}

.p_clock{
  color: #989898;
  font-weight: 600;
}

.C_Tests, .C_Rituals{
  display: flex;
  gap: 30rem;
  flex-wrap: wrap;
}

.C_Test{
  display: flex;
  transition: all ease 0.3s;
}

.C_Test:hover{
  transform: translateY(-6rem);
}

.search_png{
  width: 18rem;
}

.test_fon2, .test_fon3{
  width: 222rem;
}

.O_TestCards{
  display: flex;
  background-color: #F4F2EC;
  border-radius: 38rem;
  flex-direction: column;
  padding: 30rem;
  align-items: flex-start;
  gap: 18rem;
}

.O_titletages{
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.W_SearchContainer{
  margin-bottom: 27rem;
  display: flex;
}

.A_SearchInput, .A_SearchInput_Test, .A_SearchInput_Rituals {
  border-radius: 50rem;
  width: 384rem;
  height: 45rem;
  border: none;
  padding: 12rem 18rem;
  position: relative;
  font-size: 17rem;
  font-family: 'Manrope';
  z-index: 2;
  color: #1D2025;
}

.A_SearchInput_Rituals{
  outline-color: #EE6D8B;
  border-color: #EE6D8B;
}

.A_SearchInput_Test:focus {
outline-color: #82B468;
border-color: #82B468;
}

.A_SearchInput:focus {
outline-color: #5C5C88;
border-color: #5C5C88;
}

.A_SearchButton{
  width: 45rem;
  height: 45rem;
  background-color: #1D2025;
  border-radius: 50rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.A_SearchButton[disabled] {
  filter: grayscale(1);
}

.A_SearchResultHeader {
  font-weight: 500;
}

.M_SearchResult {
  text-decoration: none;
  color: var(--button-hover-color);
  font-size: 23rem;
  line-height: 26rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  border-top: 2rem solid var(--button-basic-color);
  padding: 12rem 18rem;
}
.M_SearchResult:nth-of-type(1) {
  border-top: none;
}
.M_SearchResult:hover {
  background-color: #eee;
}

.C_Dropdown {
  display: none;
  flex-direction: column;
  width: 384rem;
  border: 2rem solid var(--button-basic-color);
  position: absolute;
  z-index: 1;
  border-radius: 18rem;
  padding-top: 45rem;
  background-color: white;
  overflow: hidden;
}

.Q_Hightlight {
  color: #F16F33;
}
* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'Jura', 'Manrope';
  background: #F9F8F4;
}
h1 {
  font-size: 126rem;
  line-height: normal;
  color: #1D2025;
}
h2 {
  font-size: 72rem;
  line-height: normal;
  color: #1D2025;
}
h3 {
  font-size: 42rem;
  line-height: normal;
  color: #1D2025;
  width: 800rem;
}
h4 {
  font-size: 40rem;
  line-height: normal;
  color: #1D2025;
  width: 440rem;
}
p{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #1D2025;
  font-weight: 400;
}
a{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
}

.h3_header, .h3_about{
  font-size: 54rem;
}

.nav_a{
  color: #1D2025;
  transition: all ease 0.4s;
}
.nav_a:hover {
  color: #364C7E;
  transition: all ease 0.6s;
}

#index, #plug{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Section_About{
  display: flex;
  padding: 126rem 69rem 40rem 69rem;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Section_Nav{
  display: flex;
  padding: 54rem 72rem 54rem 72rem;
  width: 100vw;
}

.d_nav{
  display: inline-flex;
  width: 630rem;
  height: 375rem;
  padding: 159rem 85rem 30rem 30rem;
  align-items: center;
  border-radius: 38rem;
  background: #DFEED7;
}

.div_navig{
  display: flex;
  width: 741rem;
  height: 375rem;
  flex-wrap: wrap;
}

.div_nav{
  display: flex;
  width: 50%;
  width: 50%;
  padding: 30rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 38rem;
  background: #CBCBE7;
  justify-content: space-between;
}

.h3_about{
  text-align: center;
  width: 710rem;
}

.p_nav{
  font-size: 24rem;
  line-height: normal;
  font-weight: 500;
}

.a_nav{
  width: 45rem;
  height: 45rem;
  background-image: url(images/73c81eb77ec624937cd5.svg);
  background-size: cover;
  transition: all ease 0.1s;
}
.a_nav:hover {
  background-image: url(images/33702aabde93f695a89b.svg);
  background-size: cover;
  transition: all ease 0.3s;
}

#indexP{
  display: flex;
  padding-top: 192rem;
  justify-content: center;
  align-items: center;
}

#indexP p {
  width: 435rem;
  color: #283C74;
}

#indexForm, #plugForm{
  display: flex;
  width: 858rem;
  padding: 23rem 30rem 30rem 30rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ABCBDE;
  border-radius: 38rem 38rem 0 0;
}

#plugForm {
    padding: 0 69rem;
    margin-bottom: 25rem;
}

.Section_Footer{
  display: flex;
  padding: 54rem 72rem 0 72rem;
  width: 100vw;
}

#indexForm p{
  width: 450rem;
  margin-top: 10rem;
}

h4#my-form-status{
  margin: 12rem 0 0 24rem;
  color: #41599D;
}
#index form input, #plug form input {
  display: flex;
  padding: 7.5rem 15rem;
  align-items: center;
  flex: 1 0 0;
  border-radius: 50rem;
  background:#D1DCEE;
  font-family: 'Manrope';
  font-weight: 400;
  align-self: stretch;
  font-size: 18rem;
  line-height: 24rem;
  color: #6A7FA4;
  border: 2rem solid transparent;
  transition: border ease 0.4s;
}
#index form input:focus, #plug form input:focus {
  border: 2rem solid #859DC6;
  transition: border ease 0.8s;
}

.A_HeaderLink {
  text-decoration: none;
  display: flex;
  height: 45rem;
  padding: 13rem 18rem;
  justify-content: flex-end;
  align-items: center;
  gap: 12rem;
  border-radius: 23rem;
  background-color: #1D2025;
  color: #F9F8F4;
  transition: all ease 0.4s;
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
  text-decoration: none;
}
.A_HeaderLink:hover {
  background-color: #364C7E;
  transition: all ease 0.6s;
}

#index form button:hover, #plug form button:hover {
  background-color: #41599D;
  border: 0rem solid #41599D;
  transition: all ease 0.8s;
}

#indexHeaderMob{
  display: none;
}

#indexMedia, #plugMedia{
  display: flex;
  align-items: center;
  gap: 12rem;
}

#indexN{
  display: flex;
  align-items: center;
  gap: 39rem;
}

.div_footer{
  display: flex;
  flex-direction: column;
}

.social{
  display: flex;
  width: 440rem;
  padding: 23rem 30rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 39rem;
  background: #ABCBDE;
}

.social_h4{
  font-size: 22rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  width: 300rem;
}

.social_row{
  display: flex;
  width: 440rem;
  padding: 40rem 30rem;
  flex-direction: row;
  align-items: center;
  height: -webkit-fill-available;
  gap: 14px;
  border-radius: 39rem;
  background: #ABCBDE;
  
}

.soc{
  display: flex;
  align-items: center;
  gap: 10px;
}

#plugMedia{
  position: absolute;
  right: 69rem;
  bottom: 62rem;
}

#indexMedia .media, .media{
  width: 34rem;
  height: 34rem;
  backdrop-filter: blur(4px);
  border-radius: 50rem;
  cursor: pointer;
}

#plugMedia .media{
  width: 54rem;
  height: 54rem;
  opacity: 0.8;
}

#indexHeader .logo, #indexHeaderMob .logo{
  width: 113rem;
}

#indexNav{
  display: flex;
  padding: 6.75rem 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background: rgba(249, 219, 179, 0.60);
  backdrop-filter: blur(4px);
}

#indexCards{
  height: 474rem;
}

#card{
  display: flex;
  position: absolute;
  width: 225rem;
  padding: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.5rem;
  border-radius: 22.5rem;
  background: #F9F5E9;
  box-shadow: 6px 4px 6.9px 0 rgba(59, 94, 126, 0.25);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.M_Header {
  display: flex;
  margin: 140rem 72rem 54rem 72rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 482px;
  align-self: stretch;
  background-image: url(images/83d9c97d6f5bfbff688d.svg);
  background-size: 100% 100%;
}

#plugForm p{
  width: 500rem;
  color: #41599D;
}

#plugForm #my-form{
  width: 555rem;
}

.icon path:first-of-type {
  fill: #363636;
  width: 48rem;
  height: 48rem;
  transition: fill ease 0.5s;
}
.icon:nth-of-type(1) svg:hover path:first-of-type {
  fill: #0077ff;
  transition: fill ease 0.8s;
}
.icon:nth-of-type(2) svg:hover path:first-of-type {
  fill: #2aabee;
  transition: fill ease 0.8s;
}
.icon:nth-of-type(3) svg:hover path:first-of-type {
  fill: #ff0302;
  transition: fill ease 0.8s;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 10rem;
  gap: 20rem;
}
.text {
  color: blue;
}

.C_IndexSectionCardTags{
  display: flex;
  gap: 16rem;
  flex-direction: column;
}

.h3_test_cards{
  width: 600rem;
}


@media screen and (max-width: 780px) {
html {
  font-size: calc(1vw / 6);
}

#indexHeader {
  padding: 15rem 32rem 7.5rem 32rem;
}

#index {
  gap: 70rem;
  margin-bottom: 30rem;
}

#indexMedia {
    gap: 8rem;
}

#indexP {
  padding-top: 192rem;
  justify-content: flex-start;
  margin-left: 32rem;
  align-items: center;
}

#indexP p {
    width: 346rem;
}

#indexCards {
    height: 720rem;
}

.card_1{
  margin-top: 5rem;
  margin-left: 45rem;
}

.card_2{
  margin-top: 0;
  margin-left: 216rem;
}

.card_3{
  margin-top: 100rem;
  margin-left: 310rem;
}

.card_4{
  transform: rotate(7.887deg);
  margin-top: 275rem;
  margin-left: 20rem;
}

.card_5{
  margin-top: 420rem;
  margin-left: 125rem;
  z-index: 3;
}

.card_6{
  margin-top: 350rem;
  margin-left: 315rem;
}

.card_7{
  margin-top: 260rem;
  margin-left: 175rem;
}

#indexForm {
  height: 206rem;
  padding: 0 32rem;
}

#my-form {
    width: 525rem;
}
}

@media screen and (max-width: 440px) {
  html {
    font-size: calc(1vw / 4);
  }

  #indexHeaderMob {
  padding: 15rem 32rem 7.5rem 32rem;
}

#index {
  gap: 70rem;
  margin-bottom: 30rem;
}

#indexMedia {
  display: none;
  gap: 10rem;
  flex-direction: column;
}

#indexP {
  padding-top: 170rem;
  justify-content: flex-start;
  margin-left: 18rem;
  align-items: center;
}

#indexP p {
    width: 346rem;
}

#indexCards {
  height: 2085rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card{
  position: relative;
}

.card_1, .card_2, .card_3, .card_4, .card_5, .card_6, .card_7{
  margin-top: 0rem;
  margin-left: 0rem;
}

#indexForm {
  height: 300rem;
  padding: 0 18rem;
}

#indexForm h1{
  width: 310rem;
}

#indexForm p{
  width: 340rem;
}

#my-form {
  width: 365rem;
  padding: 10rem;
  align-items: center;
  gap: 7.5rem;
  border-radius: 26rem;
  margin-top: 22.5rem;
  flex-direction: column;
}

#indexHeader{
  display: none;
}

#indexHeaderMob{
  display: flex;
  align-items: flex-start;
}

#menu{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 20rem;
  cursor: pointer;
}

#indexMediaMob .media, .media {
    width: 45rem;
    height: 45rem;
}
}



