/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Jura';
  src: url(fonts/22cce0d53b6b97da49fe.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/416b7dd6613bd085809e.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8ff9467ebe1ff26e4261.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/c3189b18688e4f3e0d86.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/7466db90c04f3efe29bf.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/3d92b64331e124bd334e.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/8e69558513c71d8098f1.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url(fonts/6b8aa569524907093d27.ttf);
  font-weight: 200;
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  font-family: 'Jura', 'Manrope';
  background: #F9F8F4;
}
h1 {
  font-size: 126rem;
  line-height: normal;
  color: #1D2025;
}
h2 {
  font-size: 72rem;
  line-height: normal;
  color: #1D2025;
}
h3 {
  font-size: 42rem;
  line-height: normal;
  color: #1D2025;
}
h4 {
  font-size: 40rem;
  line-height: normal;
  color: #1D2025;
}
p{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #1D2025;
  font-weight: 400;
}
a{
  font-family: 'Manrope';
  font-size: 16rem;
  line-height: normal;
  color: #F9F8F4;
  font-weight: 500;
  line-height: 20rem;
}
.W_HeaderLinks {
  display: flex;
  width: 90vw;
  padding-top: 16rem;
  justify-content: space-between;
  align-items: center;
}
.A_HeaderLink {
  text-decoration: none;
  display: flex;
  height: 45rem;
  padding: 13rem 18rem;
  justify-content: flex-end;
  align-items: center;
  gap: 12rem;
  border-radius: 23rem;
  background-color: #1D2025;
  transition: all ease 0.4s;
}
.A_HeaderLink:hover {
  background-color: #F16F33;
  transition: all ease 0.6s;
}
.O_Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rem;
}
.M_Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-image: url(images/933a0a4c34b85e95c60d.svg);
  height: 618rem;
  background-size: cover;
}
.A_HeaderImage {
  width: 200rem;
}
.A_MainHeader {

  display: block;
}
.A_MainSectionText{
  width: 36vw;
}
.S_Main {
  display: flex;
  padding: 54rem 72rem;
}
.O_Sidebar {
  width: 40%;
  position: relative;
}
.O_MainSection {
  display: flex;
  width: 60%;
  gap: 54rem;
  position: relative;
  flex-direction: column;
}
.C_MainSectionLinks {
  width: 8vw;
  padding-top: 12rem; 
  display: flex;
  flex-direction: column;
}
.A_MainSectionLink {
  padding: 9rem 0;
  text-decoration: none;
  color: #B7B7B6;
  transition: all ease 0.4s;
}
.A_MainSectionLink:hover {
  color: #1D2025;
  transition: all ease 0.8s;
}
.W_MainSection {
  display: flex;
  gap: 39rem;
  flex-direction: column;
}
.W_MainSect{
  display: flex;
  gap: 24rem;
  flex-direction: column;
}
.A_MainSect{
  display: flex;
  gap: 18rem;
  flex-direction: column;
}
.A_MainSectionImg_1{
  width: 35%;
}
.A_MainSectionImg_2{
  width: 50%;
}
.A_MainSectionImg_3{
  width: 75%;
}
.A_MainSectionText_p{
  font-size: 12rem;
}
.W_MainSectionBlock {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
@media screen and (max-width: 1023px) {
  .O_Aside {
    display: none;
  }
  .O_MainSection {
    width: 80%;
    padding: 0 20rem;
  }
}
@media screen and (max-width: 600px) {
  .S_Main {
    flex-direction: column;
  }
  .O_MainSection,
  .O_Sidebar {
    width: 100%;
  }
  .O_MainSection {
    padding-bottom: 90rem;
  }
  .C_MainSectionLinks {
    z-index: 2;
    flex-direction: row;
    width: 90%;
    bottom: 10rem;
  }

  .A_MainHeader {
    font-size: 190rem;
  }
  .A_SectionHeader {
    font-size: 92rem;
    line-height: 1.5rem;
    margin-bottom: 70rem;
  }
  .A_SectionDopHeader {
    font-size: 70rem;
    line-height: 54rem;
    margin: 50rem 0;
  }
  .A_MainSectionText,
  .A_HeaderLink {
    font-size: 60rem;
    line-height: 1.5;
  }
  .W_MainSectionBlock_column {
    padding: 40rem 0 0 40rem;
    gap: 40rem;
  }
  .W_MainSectionBlock_row {
    flex-direction: column;
  }
}
